.column-lg-1 {
  flex: 1;
  width: 104px;
}

.column-lg-2 {
  flex: 2;
  width: 208px;
}

.column-lg-3 {
  flex: 3;
  width: 312px;
}

.column-lg-4 {
  flex: 4;
  width: 416px;
}

.column-lg-5 {
  flex: 5;
  width: 520px;
}

.column-lg-6 {
  flex: 6;
  width: 624px;
}

.column-lg-7 {
  flex: 7;
  width: 728px;
}

.column-lg-8 {
  flex: 8;
  width: 832px;
}

.column-lg-9 {
  flex: 9;
  width: 936px;
}

.column-lg-10 {
  flex: 10;
  width: 1040px;
}

.column-lg-11 {
  flex: 11;
  width: 1144px;
}

.column-lg-12 {
  flex: 12;
  width: 100%;
}

// Medium

.column-md-1 {
  flex: 1;
  width: 88px;
}

.column-md-2 {
  flex: 2;
  width: 176px;
}

.column-md-3 {
  flex: 3;
  width: 264px;
}

.column-md-4 {
  flex: 4;
  width: 352px;
}

.column-md-5 {
  flex: 5;
  width: 440px;
}

.column-md-6 {
  flex: 6;
  width: 528px;
}

.column-md-7 {
  flex: 7;
  width: 616px;
}

.column-md-8 {
  flex: 8;
  width: 100%;
}

// Small

.column-sm-1 {
  flex: 1;
  width: 72px;
}

.column-sm-2 {
  flex: 2;
  width: 144px;
}

.column-sm-3 {
  flex: 3;
  width: 216px;
}

.column-sm-4 {
  flex: 4;
  width: 100%;
}
