.section {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, var(--primary-color-0) 100%);
  display: flex;
  padding: 120px 0 130px;

  .row {
    .text-column {
      display: flex; 
      flex-direction: column;
      justify-content: center;
    }  
  }

  .section-label {
    color: var(--primary-color-500);
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }

  .section-title {
    color: var(--text-base-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.4px;
    margin-bottom: 16px;
  }

  .section-paragraph {
    color: var(--text-base-color);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .button-wrapper {
    width: 176px;

    button {
      font-size: 16px;
    }
  }

  .service-card-row {
    display: flex;
    flex-wrap: wrap;

    &:first-of-type {
      justify-content: flex-start;
    }

    &:last-of-type {
      justify-content: flex-end;
    }
  }

  .service-card {
    background-color: var(--white-color);
    border-radius: 6px;
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.05);
    height: 268px;
    margin-bottom: 32px;
    padding: 24px;
    width: 280px;

    &:not(:last-of-type) {
      margin-right: 32px;
    }

    .service-card-label {
      color: var(--primary-color-500);
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      margin-top: 16px;
    }

    .service-card-title {
      color: var(--text-base-color);
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 8px;
    }

    .service-card-paragraph {
      color: var(--text-base-color);
      font-size: 14px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 800px) {
  .section {
    .row {
      justify-content: center;

      .services-column {
        order: 2;
      }
  
      .text-column {
        order: 1;
      }
    }

    .button-wrapper {
      display: none;
    }
  }

  .service-card-row {
    flex-wrap: nowrap;
  }
}