.button {
  border: 0;
  border-radius: 32px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.button-primary {
  background-color: var(--primary-color-500);
  color: var(--white-color);
  font-size: 14px;
}

.button-small {
  padding: 8px;
}

.button-medium {
  padding: 12px;
}