.container {
  display: flex;
  flex: 12;
  margin: 0 112px;
  max-width: 1216px;
}

@media screen and (max-width: 1024px) {
  .container {
    flex: 8;
    margin: 0 48px;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex: 4;
    margin: 0 24px;
    max-width: 100%;
  }
}