.header {
  display: flex;
  padding: 16px 0;

  .nav-column {
    align-items: center;
    display: flex;
  }

  .navigation {
    align-items: center;
    display: flex;

    .logo {
      margin-right: 40px;
    }

    .nav-link {
      color: var(--text-base-color);
      font-size: 14px;
      text-decoration: none;

      &:not(:last-of-type) {
        margin-right: 24px;
      }
    }
  }

  .actions-wrapper {
    align-items: center;
    display: flex;

    .signin-text {
      color: var(--text-base-color);
      font-size: 14px;
      margin-right: 24px;
    }

    .button-wrapper {
      width: 100px;
    }
  }

  .marquee-wrapper {
    max-width: 100%;
    overflow: hidden;
  
    .marquee {
      white-space: nowrap;
      display: flex;
      animation: marquee 10s linear infinite;
    }

    .marquee-row {
      display: flex;
    }
    
    .marquee p {
      display: inline-block;
    }

    .marquee-item-wrapper {
      margin-right: 24px;
    }

    .marquee-item {
      color: var(--text-base-color);
      font-size: 14px;
      line-height: 16px;
    }

    .positive-item {
      color: var(--tertiary-color-700);
    }

    .negative-item {
      color: var(--quartenary-color-700);
    }
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
}