.hero-section {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  .hero-header {
    color: var(--primary-color-500);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 56px;
    margin-bottom: 24px;
  }

  .hero-paragraph {
    color: var(--text-base-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 32px;
  }

  .button-wrapper {
    margin-bottom: 80px;
    width: 278px;

    button {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .hero-keywords-list {
    display: flex;

    .hero-keyword {
      background-color: var(--primary-color-100);
      border-radius: 4px;
      color: var(--primary-color-500);
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      padding: 4px 16px;
    }

    .hero-keyword:not(:last-of-type) {
      margin-right: 32px;
    }
  }

  .hero-footer-banner {
    background-image: url('../assets/hero-footer-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 247px;
    margin-top: 63px;
    width: 100%;
  }
}

.about-us-section {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, var(--primary-color-0) 100%);
  display: flex;
  padding: 120px 0 130px;

  .about-us-row {
    .about-us-text-column {
      display: flex; 
      flex-direction: column;
      justify-content: center;
    }  
  }

  .about-us-label {
    color: var(--primary-color-500);
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }

  .about-us-title {
    color: var(--text-base-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.4px;
    margin-bottom: 16px;
  }

  .about-us-paragraph {
    color: var(--text-base-color);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .button-wrapper {
    width: 176px;

    button {
      font-size: 16px;
    }
  }

  .service-card-row {
    display: flex;
    flex-wrap: wrap;

    &:first-of-type {
      justify-content: flex-start;
    }

    &:last-of-type {
      justify-content: flex-end;
    }
  }

  .service-card {
    background-color: var(--white-color);
    border-radius: 6px;
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.05);
    height: 268px;
    margin-bottom: 32px;
    padding: 24px;
    width: 280px;

    &:not(:last-of-type) {
      margin-right: 32px;
    }

    .service-card-label {
      color: var(--primary-color-500);
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      margin-top: 16px;
    }

    .service-card-title {
      color: var(--text-base-color);
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 8px;
    }

    .service-card-paragraph {
      color: var(--text-base-color);
      font-size: 14px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-us-section {
    .about-us-row {
      justify-content: center;

      .about-us-services-column {
        order: 2;
      }
  
      .about-us-text-column {
        order: 1;
      }
    }

    .button-wrapper {
      display: none;
    }
  }

  .service-card-row {
    flex-wrap: nowrap;
  }
}