:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --text-base-color: #5D6670;

  --primary-color-0: #F7F7F7;
  --primary-color-100: #FFF6E8;
  --primary-color-200: #FFE1B5;
  --primary-color-500: #FBAB34;
  --primary-color-700: #AD721A;

  --secondary-color-200: #F4F3F8;
  --secondary-color-400: #ACABB7;

  --tertiary-color-700: #149E55;

  --quartenary-color-700: #A12226;
}
